<%= form_for(@perguntum) do |f| %>
  <% if @perguntum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@perguntum.errors.count, "error") %> prohibited this perguntum from being saved:</h2>

      <ul>
      <% @perguntum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field field100">
    <%= f.label :pergunta %><br>
    <%= f.text_area :pergunta %>
  </div>

  <div class="field field100">
    <%= f.label :conteudo %><br>
    <%= f.text_area :conteudo %>
  </div>  
  
  <div class="field field100">
    <%= f.label 'Opção 1' %><br>
    <%= f.text_area :op1 %>
  </div>
  <div class="field field100">
    <%= f.label 'Opção 2' %><br>
    <%= f.text_area :op2 %>
  </div>
  <div class="field field100">
    <%= f.label 'Opção 3' %><br>
    <%= f.text_area :op3 %>
  </div>
  <div class="field field100">
    <%= f.label 'Justificativa de erro da questão 1' %><br>
    <%= f.text_area :justop1 %>
  </div>
  <div class="field field100">
    <%= f.label 'Justificativa de erro da questão 2' %><br>
    <%= f.text_area :justop2 %>
  </div>
  <div class="field field100">
    <%= f.label 'Justificativa de erro da questão 3' %><br>
    <%= f.text_area :justop3 %>
  </div>

  <div class="field field100">
    <%= f.label 'Opção correta' %><br>
    <%= f.select :resp, [['Opção 1', 1], ['Opção 2', 2], ['Opção 3', 3]] %>
  </div>

  <div class="actions btn-group">
    <%= f.submit "Atualizar", class:"btn btn-primary" %>
    <%= link_to 'Voltar', pergunta_path %>
  </div>
<% end %>
