<p id="notice"><%= notice %></p>

<h1>Nivelamento</h1>
  
<table class="table">
    
  <thead>
    <tr>
      <th>Id</th>
      <th>Pergunta</th>
      <th>Opção 1</th>
      <th>Opção 2</th>
      <th>Opção 3</th>
      <th>Justificativa 1</th>
      <th>Justificativa 2</th>
      <th>Justificativa 3</th>
      <th>Resposta</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @pergunta.where(reforco: false, nivelamento: true).each do |perguntum| %>
      <tr>
        <td><%= perguntum.id %></td>
        <td><%= truncate(perguntum.pergunta)%></td>
        <td><%= truncate(perguntum.op1) %></td>
        <td><%= truncate(perguntum.op2) %></td>
        <td><%= truncate(perguntum.op3) %></td>
        <td><%= truncate(perguntum.justop1) %></td>
        <td><%= truncate(perguntum.justop2) %></td>
        <td><%= truncate(perguntum.justop3) %></td>
        <td><%= perguntum.resp %></td>
        <td><%= link_to 'Editar', edit_perguntum_path(perguntum) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h1>Perguntas</h1>
  
<% for i in 1..5 do %>
  <h3>Nível <%= i %></h3>
  <table class="table">
    
    <thead>
      <tr>
        <th>Id</th>
        <th>Pergunta</th>
        <th>Opção 1</th>
        <th>Opção 2</th>
        <th>Opção 3</th>
        <th>Justificativa 1</th>
        <th>Justificativa 2</th>
        <th>Justificativa 3</th>
        <th>Resposta</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @pergunta.where(nivel: i, reforco: false, nivelamento: false).each do |perguntum| %>
        <tr>
          <td><%= perguntum.id %></td>
          <td><%= truncate(perguntum.pergunta)%></td>
          <td><%= truncate(perguntum.op1) %></td>
          <td><%= truncate(perguntum.op2) %></td>
          <td><%= truncate(perguntum.op3) %></td>
          <td><%= truncate(perguntum.justop1) %></td>
          <td><%= truncate(perguntum.justop2) %></td>
          <td><%= truncate(perguntum.justop3) %></td>
          <td><%= perguntum.resp %></td>
          <td><%= link_to 'Editar', edit_perguntum_path(perguntum) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<h1>Perguntas - Reforço</h1>

<% for i in 1..5 do %>
  <h3>Nível <%= i %></h3>
  <table class="table">
    
    <thead>
      <tr>
        <th>Id</th>
        <th>Pergunta</th>
        <th>Opção 1</th>
        <th>Opção 2</th>
        <th>Opção 3</th>
        <th>Justificativa 1</th>
        <th>Justificativa 2</th>
        <th>Justificativa 3</th>
        <th>Resposta</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @pergunta.where(nivel: i, reforco: true, nivelamento: false).each do |perguntum| %>
        <tr>
          <td><%= perguntum.id %></td>
          <td><%= truncate(perguntum.pergunta)%></td>
          <td><%= truncate(perguntum.op1) %></td>
          <td><%= truncate(perguntum.op2) %></td>
          <td><%= truncate(perguntum.op3) %></td>
          <td><%= truncate(perguntum.justop1) %></td>
          <td><%= truncate(perguntum.justop2) %></td>
          <td><%= truncate(perguntum.justop3) %></td>
          <td><%= perguntum.resp %></td>
          <td><%= link_to 'Editar', edit_perguntum_path(perguntum) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>