<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Pergunta</th>
      <th>Op1</th>
      <th>Op2</th>
      <th>Op3</th>
      <th>Justop1</th>
      <th>Justop2</th>
      <th>Justop3</th>
      <th>Resp</th>
      <th>Nivel</th>
      <th>Reforco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perguntum.each do |perguntum| %>
      <tr>
        <td><%= perguntum.id %></td>
        <td><%= perguntum.pergunta %></td>
        <td><%= perguntum.op1 %></td>
        <td><%= perguntum.op2 %></td>
        <td><%= perguntum.op3 %></td>
        <td><%= perguntum.justop1 %></td>
        <td><%= perguntum.justop2 %></td>
        <td><%= perguntum.justop3 %></td>
        <td><%= perguntum.resp %></td>
        <td><%= perguntum.nivel %></td>
        <td><%= perguntum.reforco %></td>
        <td><%= link_to 'Edit', edit_perguntum_path(perguntum) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
