<div class="btn-group btn-group-justified" role="group" aria-label="...">
    
    <% if current_usuario.premios==-1 %>
        <%= link_to 'Nivelamento', randomize_path(0), class: 'btn btn-default'%>
        <%= link_to 'Nível 1', "#", class: 'btn btn-default', disabled: "" %>
        <%= link_to 'Nível 2', "#", class: 'btn btn-default', disabled: "" %>
        <%= link_to 'Nível 3', "#", class: 'btn btn-default', disabled: "" %>
        <%= link_to 'Nível 4', "#", class: 'btn btn-default', disabled: "" %>
        <%= link_to 'Nível 5', "#", class: 'btn btn-default', disabled: "" %>
        
        <%= link_to 'Reforço', "#", class: 'btn btn-default', disabled: ""  %>
    <% end %>   
    
    <% if current_usuario.premios==0 %>
        <%= link_to 'Nivelamento', randomize_path(0), class: 'btn btn-success'%>
        <% if current_usuario.reforco == true then %>
            <%= link_to 'Nível 1', randomize_path(1), class: 'btn btn-danger'%>
        <% else %>
            <%= link_to 'Nível 1', randomize_path(1), class: 'btn btn-default'%>
        <%end %>
        <%= link_to 'Nível 2', "#", class: 'btn btn-default', disabled: ""  %>
        <%= link_to 'Nível 3', "#", class: 'btn btn-default', disabled: ""  %>
        <%= link_to 'Nível 4', "#", class: 'btn btn-default', disabled: ""  %>
        <%= link_to 'Nível 5', "#", class: 'btn btn-default', disabled: ""  %>
        
        <% if current_usuario.reforco == true then %>
            <%= link_to 'Reforço', randomize_path("r1"), class: 'btn btn-default' %>
        <% else %>
            <%= link_to 'Reforço', "#", class: 'btn btn-default', disabled: ""  %>
        <% end %>        
        
    <% end %>
    
    <% if current_usuario.premios==1 %>
        <%= link_to 'Nivelamento', randomize_path(0), class: 'btn btn-default btn-success'%>
        <%= link_to 'Nível 1', randomize_path(1), class: 'btn btn-success' %>
        
        <% if current_usuario.reforco == true then %>
            <%= link_to 'Nível 2', randomize_path(2), class: 'btn btn-danger' %>
        <% else %>
            <%= link_to 'Nível 2', randomize_path(2), class: 'btn btn-default' %>
        <% end %>
        
        <%= link_to 'Nível 3', "#", class: 'btn btn-default', disabled: "" %>
        <%= link_to 'Nível 4', "#", class: 'btn btn-default', disabled: "" %>
        <%= link_to 'Nível 5', "#", class: 'btn btn-default', disabled: "" %>

        <% if current_usuario.reforco == true then %>
            <%= link_to 'Reforço', randomize_path("r2"), class: 'btn btn-default' %>
        <% else %>
            <%= link_to 'Reforço', "#", class: 'btn btn-default', disabled: ""  %>
        <% end %>      
    <% end %>    

    <% if current_usuario.premios==2 %>
        <%= link_to 'Nivelamento', randomize_path(0), class: 'btn btn-success' %>
        <%= link_to 'Nível 1', randomize_path(1), class: 'btn btn-success' %>
        <%= link_to 'Nível 2', randomize_path(2), class: 'btn btn-success'%>
        
        <% if current_usuario.reforco == true then %>
            <%= link_to 'Nível 3', randomize_path(3), class: 'btn btn-danger'%>
        <% else %>
            <%= link_to 'Nível 3', randomize_path(3), class: 'btn btn-default'%>
        <% end %>
        
        <%= link_to 'Nível 4', "#", class: 'btn btn-default', disabled: ""  %>
        <%= link_to 'Nível 5', "#", class: 'btn btn-default', disabled: ""  %>

        <% if current_usuario.reforco == true then %>
            <%= link_to 'Reforço', randomize_path("r3"), class: 'btn btn-default' %>
        <% else %>
            <%= link_to 'Reforço', "#", class: 'btn btn-default', disabled: ""  %>
        <% end %>      
    <% end %>    
    
    <% if current_usuario.premios==3 %>
        <%= link_to 'Nivelamento', randomize_path(0), class: 'btn btn-success' %>
        <%= link_to 'Nível 1', randomize_path(1), class: 'btn btn-success' %>
        <%= link_to 'Nível 2', randomize_path(2), class: 'btn btn-success' %>
        <%= link_to 'Nível 3', randomize_path(3), class: 'btn btn-success' %>
        <% if current_usuario.reforco == true then %>
            <%= link_to 'Nível 4', randomize_path(4), class: 'btn btn-danger' %>
        <% else %>
            <%= link_to 'Nível 4', randomize_path(4), class: 'btn btn-default' %>
        <% end %>
        <%= link_to 'Nível 5', "#", class: 'btn btn-default', disabled: "" %>

        <% if current_usuario.reforco == true then %>
            <%= link_to 'Reforço', randomize_path("r4"), class: 'btn btn-default' %>
        <% else %>
            <%= link_to 'Reforço', "#", class: 'btn btn-default', disabled: ""  %>
        <% end %>      
    <% end %>    
    
    <% if current_usuario.premios==4 %>
        <%= link_to 'Nivelamento', randomize_path(0), class: 'btn btn-success', enabled: true %>
        <%= link_to 'Nível 1', randomize_path(1), class: 'btn btn-success' %>
        <%= link_to 'Nível 2', randomize_path(2), class: 'btn btn-success' %>
        <%= link_to 'Nível 3', randomize_path(3), class: 'btn btn-success' %>
        <%= link_to 'Nível 4', randomize_path(4), class: 'btn btn-success' %>
        
        <% if current_usuario.reforco == true then %>
            <%= link_to 'Nível 5', randomize_path(5), class: 'btn btn-danger' %>
        <% else %>
            <%= link_to 'Nível 5', randomize_path(5), class: 'btn btn-default' %>
        <% end %> 
        
        <% if current_usuario.reforco == true then %>
            <%= link_to 'Reforço', randomize_path("r5"), class: 'btn btn-default' %>
        <% else %>
            <%= link_to 'Reforço', "#", class: 'btn btn-default', disabled: ""  %>
        <% end %>      
    <% end %>    
    
    <% if current_usuario.premios==5 %>
        <%= link_to 'Nivelamento', randomize_path(0), class: 'btn btn-success', enabled: true %>
        <%= link_to 'Nível 1', randomize_path(1), class: 'btn btn-success' %>
        <%= link_to 'Nível 2', randomize_path(2), class: 'btn btn-success' %>
        <%= link_to 'Nível 3', randomize_path(3), class: 'btn btn-success' %>
        <%= link_to 'Nível 4', randomize_path(4), class: 'btn btn-success' %>
        <%= link_to 'Nível 5', randomize_path(5), class: 'btn btn-success' %>
    <% end %>    
                
</div>

    <%
    @premios = current_usuario.premios
    
    if (@premios < 0) then
        @premios = 0; 
    end
    %>
    
    <%= image_tag("img#{@premios}.png", :class=> "consultorio", :alt => "seu consultório com #{@premios} premios") %>
    <center><h3>Você conquistou <%= @premios %> de 5 equipamentos</h3></center>

<% if @premios == 5 %>

    <div class="panel panel-default" style="margin-top:30px;">
      <div class="panel-heading">
        <center><h1 class="panel-title">Parabéns, você concluiu o jogo.</h1></center>
      </div>
      <div class="panel-body">
         
        <center>
            <h4>Você acertou <%=@acertos%> das <%=@respondidas%> pergunta(s) respondidas</h4>
        </center> 
          
        <table class="table">
            <tr>
                <th>Nível</th>
                <th>Pontuação</th>
            </tr>            
            <% for i in 0..5 do %>
            <tr>
                <td><%=@list_labels[i]%></th>
                <td><%=@list_pontuacao[i]%></th>
            </tr>            
            <% end %>
            
            <tr>
                <td colspan="2" align="center" style="background-color:lightblue;"><h4>Média: <%=@media%></h4></th>
            </tr>      
        </table>
      </div>
    </div>

    
<% end %>