<p id="notice"><%= notice %></p>

<p>
  <strong>Pergunta:</strong>
  <%= @perguntum.pergunta %>
</p>

<p>
  <strong>Conteúdo:</strong>
  <%= @perguntum.conteudo.html_safe %>
</p>

<p>
  <strong>Op1:</strong>
  <%= @perguntum.op1 %>
</p>

<p>
  <strong>Op2:</strong>
  <%= @perguntum.op2 %>
</p>

<p>
  <strong>Op3:</strong>
  <%= @perguntum.op3 %>
</p>

<p>
  <strong>Justop1:</strong>
  <%= @perguntum.justop1.html_safe %>
</p>

<p>
  <strong>Justop2:</strong>
  <%= @perguntum.justop2.html_safe %>
</p>

<p>
  <strong>Justop3:</strong>
  <%= @perguntum.justop3.html_safe %>
</p>

<p>
  <strong>Resp:</strong>
  <%= @perguntum.resp %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @perguntum.nivel %>
</p>

<p>
  <strong>Reforco:</strong>
  <%= @perguntum.reforco %>
</p>

<%= link_to 'Editar', edit_perguntum_path(@perguntum) %> |
<%= link_to 'Voltar', pergunta_path %>
