<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label "Senha" %>
      <%= f.password_field :password, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label "Repetir senha" %>
      <%= f.password_field :password_confirmation, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.submit "Sign up", class: "btn btn-lg btn-primary" %>
    </div>
<% end %>
<%= render "devise/shared/links" %>