// Place all the styles related to the pergunta controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field100{
    input, textarea, select {
        width:100%;
        padding:1px;
    }
}

.field50{
    width:50%;
    input{
        width:auto;
    }
}

textarea{
    height:200px;
}

.btn-group{
    width:100%;
    text-align:center;
    margin-bottom:30px;
    input{
        width:100%;
        margin-top:40px;
        margin-bottom:20px;
    }
}