<br>

<% if @nivel.to_i <= current_usuario.nivelamento && @nivelamento!=true && @reforco == false then
  @novo = false;
end %>

<%= form_for @respostum do |f| %>
  <% if @respostum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@respostum.errors.count, "error") %> prohibited this respostum from being saved:</h2>

      <ul>
      <% @respostum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if @novo==false then %> <% if @perguntum.resp==1 then @alert = "alert-success" else @alert = "alert-danger" end%> <div class="alert <%=@alert%>" role="alert"> <% end %>
    <% if @novo==false then %> <%= radio_button("respostum", "resp", "1", :disabled=>"", :required=>"") %><% end %>
    <% if @novo then %><%= radio_button("respostum", "resp", "1", :required=>"") %><% end %>
    <%= @perguntum.op1 %> <% if @novo then %><br><%end%>
    <% if @novo==false then %> <h4 data-toggle="modal" class="resp-info" data-target="#myModal1"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></h4> <% end %>
  <% if @novo==false then %> </div> <% end %>
  
  <% if @novo==false then %> <% if @perguntum.resp==2 then @alert = "alert-success" else @alert = "alert-danger" end%> <div class="alert <%=@alert%>" role="alert"> <% end %>
    <% if @novo==false then %> <%= radio_button("respostum", "resp", "2", :disabled=>"") %> <% end %>
    <% if @novo then %> <%= radio_button("respostum", "resp", "2") %> <% end %>
    <%= @perguntum.op2 %> <% if @novo then %><br><%end%>
    <% if @novo==false then %> <h4 data-toggle="modal" class="resp-info" data-target="#myModal2"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></h4>  <% end %>
  <% if @novo==false then %> </div> <% end %>

  <% if @novo==false then %> <% if @perguntum.resp==3 then @alert = "alert-success" else @alert = "alert-danger" end%> <div class="alert <%=@alert%>" role="alert"> <% end %> 
    <% if @novo==false then %> <%= radio_button("respostum", "resp", "3", :disabled=>"") %><% end %>
    <% if @novo then %><%= radio_button("respostum", "resp", "3") %><% end %>
    <%= @perguntum.op3 %> <% if @novo then %><br><%end%>
    <% if @novo==false then %> <h4 data-toggle="modal" class="resp-info" data-target="#myModal3"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></h4>  <% end %>
  <% if @novo==false then %> </div> <% end %>
  
  <% if @novo then %>
    <div class="actions" style="margin-top:25px;">
      <%=  f.submit :Corrigir, class: 'btn btn-primary' %>
    </div>
  <% elsif (@respostum.resp.to_s != "") then
    if @respostum.resp == @perguntum.resp then %>
      <h3 style="color:green"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Parabéns, você acertou</h3>
    <% else %>
      <h3 style="color:red"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Você errou</h3>
      <% if @respostum.resp == 1 then @just = @perguntum.justop1.html_safe end %>
      <% if @respostum.resp == 2 then @just = @perguntum.justop2.html_safe end %>
      <% if @respostum.resp == 3 then @just = @perguntum.justop3.html_safe end %>
      <h4><%= @just %></h4>
    <% end %> 
  <% end %>
<% end %>


  <!-- Modal Justificativa 1 -->
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Justificativa da resposta 1</h4>
        </div>
        <div class="modal-body">
          <p><%= @perguntum.justop1.html_safe %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal Justificativa 2 -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Justificativa da resposta 2</h4>
        </div>
        <div class="modal-body">
          <p><%= @perguntum.justop2.html_safe %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>  
  
  <!-- Modal Justificativa 3 -->
  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Justificativa da resposta 3</h4>
        </div>
        <div class="modal-body">
          <p><%= @perguntum.justop3.html_safe %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>   

