<p id="notice"><%= notice %></p>

<h1>Listing Resposta</h1>

<table>
  <% @resposta.each do |respostum| %>
  
  <thead>
    <tr>
      <th>Pergunta</th>
    </tr>
  </thead>

  <tbody>
    
      <tr>
        <td><%= form_for(respostum) do |f| %>
  <% if respostum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(respostum.errors.count, "error") %> prohibited this respostum from being saved:</h2>

      <ul>
      <% @respostum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.text_field :usuario_id %>
  </div>
  <div class="field">
    <%= f.label :perguntum_id %><br>
    <%= f.text_field :perguntum_id %>
  </div>
  <div class="field">
    <%= f.label :resp %><br>
    <%= f.text_field :resp %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</td>

      </tr>
    
  </tbody>
  
  <% end %>
</table>

<br>

<%= link_to 'New Respostum', new_respostum_path %>
