<h1>aa</h1>

<% @perguntum.each do |p| %>
  <%= p %><br/>
<% end %>

<% @perguntum.where(nivel: 1, reforco: false, nivelamento: false).each do |perguntum| %>
    <%= perguntum.pergunta %>
    <%= perguntum.op1 %>
    <%= perguntum.op2 %>
    <%= perguntum.op3 %>
    <%= perguntum.justop1 %>
    <%= perguntum.justop2 %>
    <%= perguntum.justop3 %>
    <%= perguntum.resp %>
    <%= perguntum.nivel %>
    <%= perguntum.reforco %>
    <%= perguntum.nivelamento %>
      
    <%= render 'form' %>
<% end %>


<%= link_to 'Back', resposta_path %>
