<div class="page-header">
    <h1>
        <% if @nivelamento==true then %>
            Nivelamento
        <% elsif @reforco==true then %>
            Reforço do nível: <%= @nivel[1] %>
        <% else %>
            Nível: <%= @nivel %>
        <% end %>
        <small>Pergunta <%= @ordem %> de 10</small>
    </h1>
</div>

<div class="btn-group" role="group">
    <% for i in 1..10 do %>
        <%
            @tmp = "";
            if i==@ordem.to_i then
                @tmp = "<span class='glyphicon glyphicon-arrow-up' aria-hidden='true' style='margin-top:10px;'></span>";
            end
        %>     
        
        <%= link_to(nivel_path(@nivel,i), class: "btn btn-default #{@cores[i]}", style: "#{@tmp}; height:34px") do %>
          <%= i.to_s%>
          <br>
          <%= @tmp.html_safe %>
        <% end %>
        
    <% end %>
</div>

<%if (@nivelamento==false && @reforco==false && @nivel.to_i <= current_usuario.nivelamento) then%>
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Você pulou este nível por conta do nivelamento</h4>
            Mas ainda pode conferir o gabarito
        </div>
    </div>
<%elsif @finalizou == true then%>
    <div class="panel panel-default">
        <div class="panel-body">
            <%if (@nivelamento == true) then%>
                <h4>Você concluiu o nivelamento.</h4>
                
                <table class="table">
                <% for i in 0..4 %>
                    <tr><td>Você acertou <%=@quantidadeAcertos[i]%> das <%=@quantidadeQuestoes[i]%> questões do nível <%= i+1 %><br></td></tr>
                <% end %>
                </table>
                
                Você está apto para o nível <%=@premios.to_i+1%>.
                
                <% if @premios > 0 then %>
                    Seus prêmios:
                <%end%>
                <% if @premios >= 1 then %>
                    <div class="well well-sm">Materiais de escritório</div> 
                <%end%>
                <% if @premios >= 2 then %>
                    <div class="well well-sm">Escada</div> 
                <%end%>
                <% if @premios >= 3 then %>
                    <div class="well well-sm">Negatoscópio</div> 
                <%end%>
                <% if @premios >= 4 then %>
                    <div class="well well-sm">Quadro</div> 
                <%end%>
                
                <%= link_to 'Menu', menu_path, class: 'btn btn-default'%>
            <%elsif (@aprovadoReforco == true) then%>
                <h1 style="color:green; float:left; margin-right:20px;"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></h1>
                <h4>Parabéns, você concluiu o reforço.</h4>
                Um nível foi liberado: <%= link_to 'Menu', menu_path, class: 'btn btn-default'%>
            <%elsif (@aprovado == true) then%>
                <h1 style="color:green; float:left; margin-right:20px;"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></h1>
                <h4>Parabéns. Você acertou mais de 70% das perguntas e foi aprovado</h4>
                Você ganhou um prêmio
                
                <%if (@nivelamento!="true") then%>
                    <%if (@nivel=="1") then%>
                        : <b>Materiais de escritório</b>.
                    <%elsif (@nivel=="2") then%>
                        : <b>Escada</b>.
                    <%elsif (@nivel=="3") then%>
                        : <b>Negatoscópio</b>.
                    <%elsif (@nivel=="4") then%>
                        : <b>Quadro</b>.
                    <%elsif (@nivel=="5") then%>
                        : <b>Maca</b>.
                    <%end%>
                <%end%>
            <%else%>
                <h1 style="color:red; float:left; margin-right:20px;"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></h1>
                <h4>Infelizmente você não foi aprovado. </h4>
                
                <%if (@gameover == true) then%>
                    GAMEOVER: Você foi reprovado no mesmo nível mais de duas vezes, então o jogo irá reiniciar.
                <%else %>
                    Verifique o menu para fazer 
                    <%if @reforco!=true then%>
                        novamente 
                    <%end%>
                    o reforço: <%= link_to 'Menu', menu_path, class: 'btn btn-default'%>
                    <br>
                    <% if (@nivelamento == false && @reforco == false) then %>
                        Você tem mais <%=3 - current_usuario.erros%> chances para ser aprovado neste nível.
                    <% end %>
                <%end%>
            <%end%>
        </div>
    </div>
    
<% end %>

<div class="jumbotron">

    <h4><%= @perguntum.pergunta %></h4>
    
    <%= @perguntum.conteudo.html_safe %> <br>
    
    <%= render 'form' %>

</div>

<!-- avisar que vai perder a resposta -->
<% if @ordem.to_i > 1 then %>
    <%= link_to 'Anterior', nivel_path(@nivel, @ordem.to_i - 1), class: 'btn btn-default' %>  <!-- voltar para o anterior (@ordem - 1) -->
<% end %>

<% if @ordem.to_i < 10 then %>
    <%= link_to 'Próxima', nivel_path(@nivel, @ordem.to_i + 1), class: 'btn btn-default', style:'float:right' %> <!-- vai para a próxima (@ordem + 1) -->
<% end %>
<!-- fim do aviso -->






