<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @respostum.usuario.id %>
  <br>
  <%= @respostum.usuario.nome %>
</p>

<p>
  <strong>Perguntum:</strong>
  <%= @respostum.perguntum %>
</p>

<p>
  <strong>Resp:</strong>
  <%= @respostum.resp %>
</p>

<%= link_to 'Edit', edit_respostum_path(@respostum) %> |
<%= link_to 'Back', resposta_path %>
